<!DOCTYPE html>
{% extends 'enroll/base.html' %}

{% load static %}
 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block content %}
        <div class="row">

            <div class="col-sm-2">

                <h4 class="text-center alert alert-info">Add Student</h4>

                <form action="" method="POST" class="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type = 'submit' class = "btn btn-success" value="Add">
                </form>
            
            </div>



            <div class="col-sm-9 offset-1">

                <h4 class="text-center alert alert-info">Show Student Information</h4>

                {% if stu %}
                    {% comment %} <h4>Table Data </h4> {% endcomment %}
                    <table class="table table-hover">
                        <thead>
                            <th scope='col'>ID</th>
                            <th scope='col'>NAME</th>
                            <th scope='col'>EMAIL</th>
                            <th scope='col'>PASSWORD</th>
                            <th scope='col'>Action</th>


                        </thead>

                        <tbody>
                            {% for st in stu%}
                                <tr>
                                    <th scope='row'>{{st.id}}</th>
                                    <td>{{st.name}}</td>
                                    <td>{{st.email}}</td>
                                    <td>{{st.password}}</td>
                                    <td>
                                        <a href="{% url 'update' st.id %}" class='btn btn-sm btn-primary'>Edit</a>
                                        {% comment %} <a href="" class='btn btn-sm btn-danger'>Delete</a> {% endcomment %}

                                        <form action= "{% url 'delete' st.id %}" method="POST" class='d-inline'>
                                        {% csrf_token %}

                                            <input type='submit' class='btn btn-sm btn-danger' value="Delete"></input>

                                        </form>
                                    </td>


                                </tr>
                            {% endfor %}


                        </tbody>
                    </table>

                {%else%}
                <h4 class="text-center alert alert-warning">No Records Found</h4>

                {%endif%}
            
            </div>
        </div>


        {% endblock content %}
        
        <script src="" async defer></script>
    </body>
</html>