<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h1>Rendering Field names using for loop</h1>
    <table>
        <form action="" method="get">
            {% for field in form%}
            {{field.label_tag}}
            {% comment %} field will display the inputbox {% endcomment %}
            {{field}}
            {%endfor%}
                  
            <!-- IF WE DONOT USE FOR LOOP -->
            {% comment %} {{form.name.label}}
            {{form.email.label}}
            {{form.mobile.label}} {% endcomment %}
            {% comment %} to show label with collon in front of label  {% endcomment %}
            <hr>
            <h1>Showing Fields Labels with colons and without colons</h1>
            {{form.name.label}}
            {{form.email.label}}
            {{form.mobile.label}}
            {{form.name.label_tag}}
            {{form.email.label_tag}}
            {{form.mobile.label_tag}}


            <h1> Showing only visible fields</h1>
            {% comment %} If we donot specify that show only visible fields, than django displays visibles fields as
            well as hidden fields "label" {% endcomment %}
            {% for field in form.visible_fields%}
            {{field.label_tag}}
            {{field}}
            {%endfor%}


            <hr> 
            {% comment %} This is the actual way of writing hidden field in code but not showing on screen {% endcomment %}
            <h1>not show hidden fields</h1>
            {% for hidden in form.hidden_fields%}
            {% comment %} {{hidden.label_tag}} {% endcomment %}
            {{hidden}}
            {%endfor%}
        </form>
        
        
    </table>
    <input type="submit" value="submit">
</body>
</html>