<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>This is Home Template</h2>

        <a href= "{% url 'userDetails' 1  %}">Student 1</a> 
        <a href= "{% url 'userDetails' 2  %}">Student 2</a> 
        <a href= "{% url 'userDetails' 3  %}">Student 3</a> 


        <a href= "{% url 'subDetails' 1  5%}">Sub Student 1</a> 
        <a href= "{% url 'subDetails' 2  6%}">Sub Student 2</a> 
        <a href= "{% url 'subDetails' 3  7%}">Sub Student 3</a> 

        
        <script src="" async defer></script>
    </body>
</html>